header
{
	background-image: url("https://jooinn.com/images/blur-lights-1.jpg");
	height: 650px;
	width:100%;
	background-size: cover;
	color:white;
}
header p{
  font-size: 20px;
}
#programming {
  width: 110px;
}
@media (max-width: 768px) { 
    .navbar-btn {
        margin-left: 20px;
    }
}
.card-deck {
  margin: 60px;
}
.mylogos {
  width: 100%;
}
.banner
{
	color: rgb(35, 35, 48);
}
body h1 {
  text-align: center;
}
body p {
  font-size: 20px;
}
/*Services*/
.services span
{
  width:200px;
  display:inline-block;
}
.services i
{
color: dimgrey;
}
.services img {
  width: 60px;
  height: 60px;
}

/*Projects*/
.projects span
{
  width:200px;
  display:inline-block;
}
.projects i
{
color: dimgrey;
}


/*Team*/
.team
{
	width: 80%;
	margin: auto;
	text-align: center;
}
.team h1
{
	background-color: rgb(35, 35, 48);
	color: white;
}
.team img 
{

  border-radius: 50%;
  object-fit: cover;
  height:150px;
  width:150px;
  transition:1s;
}
.team img:hover
{
  transform:scale(.9);
  opacity:.8;

}
/*Sponsors*/
.sponsor
{
	width: 90%;
	margin: auto;
}
.sponsor img
{
	object-fit: cover;
	height:80px;
	width:90px;
	transition:1s;
}
section#interests {
  width: 90%;
  margin: auto;
}
.mylogos{
  object-fit: cover;
	transition:1s;
}
#codecademylogo{
  object-fit: cover;
  transition: 1s;
  width: 75%;
}
#codingspacelogo{
  object-fit: cover;
	transition:1s;
  width: 25%
}
#flogo {

	height:80px;
	width:130px;
	transition:1s;
}
.btn {
  border-radius: 10px;
}
button {
  padding: 8px 12px;
  margin: 0px 0 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
}

button:hover {
  background: #E07D78;
  color: #fff;
  border-color: #E07D78;
}

/*Contact*/
.contact
{
	width: 90%;
	margin: auto;
}
.contact i 
{
	padding: 10px;
}
.contact .btn
{
	margin-top: 10px;
	width: 100%;
	background-color: rgb(35, 35, 48);
	color: white;
}
.contact .input-group
{
	margin-top: 10px;
}
/*footer*/
.footer
{
	width: 80%;
	margin: auto;
	margin-top: 30px;
}
.footer .btn
{
	background-color: rgb(35, 35, 48);
	color: white;
	width: 50%;
}

.linkedin
{
	color: rgb(0, 115, 176);
 
}
.price title {
 margin-left: 2.5 cm
}
.fi-padding {
  width: 30px;
  height: 40px;
}

.copyright-text p {
  text-align: center;
}

